.root{
	-fx-background-image: url("iitdu.jpg");
}

.button{
	-fx-background-color: rgb(255, 0, 0)en; -fx-text-fill: white;
}

.button:hover{
	-fx-background-color: black; -fx-text-fill: white;
		
}
.label{
	-fx-text-fill: #0000ff; -fx-font-size: 16px; -fx-font-weight: bold;
}